body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    }
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*?---------------------HEADER-------------------------*/
.header {
}
.header-navigation {
}
.header-logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-blue {
    color:#4D5AE5;
}
.header-menu-list {

}
.header-menu-item {
}
.header-menu-link {
    color:  #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.adress {
}
.adress-menu-list {
}
.adress-menu-item {
}
.adress-menu-link {
    color: #434455;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
/*?---------------------SECTION BUISNESS----------------*/
.business {
    background: #2E2F42;
}
.business-titel {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: 0.02em;
    text-align: center;
}
.business-btn {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px;
    cursor: pointer;
    font-size: 16px;
}
/*?----------------SECTION OUR STRENGTH------------------*/
.strength {
}
.strength-list {
}
.strength-item {
}
.strength-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.strength-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*?--------------------SECTION OUR TEAM------------------*/
.team {
    color: #2E2F42;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
}
.team-list {
}
.team-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-img-name {
}
.team-item-text {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.02em;
    text-align: center;
}
/*?------------------------FOOTER--------------------------*/
.footer {
    background: #2E2F42;
}
.footer-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: Raleway;
}
.footer-logo-blue {
    color:#4D5AE5;
}
.footer-text {color: #F4F4FD;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
/*?----------------------FINISH MODUL 2------------------------*/